<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Peluca News</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/formulario.css">
        <link  rel="icon"   href="img/favicon.png" type="image/png" />
    </head>
    <body>

        <nav th:replace="fragments/navbar.html :: nav"></nav>

        <div class="container-fluid col-8 contenedor">

            
            <div class="form-group my-3">
                <h1 th:text="${noticia.titulo}"> Encabezado de nivel 1 </h1>
            </div>

            <div class="form-group my-3">
                <img th:src="${noticia.rutaArchivo}" alt="imagen" class="rounded mx-auto d-block">
                <!-- <img src="\img\news.png" alt="imagen">     
                <img src="C:\Users\nicoc\Documents\NetBeansProjects\noticias\src\main\resources\static\img\news.png" alt="imagen">                            
                <img th:src="@{{\img\news.pn}&{g}}" alt="Media Resource"/> -->
            </div>


            <div class="form-group my-3">
                <p th:text="${noticia.cuerpo}" aria-label="With textarea" name="cuerpo"></p>
            </div>

           





            <section class=" text-center container">
                <div class="row mt-3">
                    <div class="divVolver">
                        <a th:href="@{/inicio/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                    </div>
                </div>
            </section>
        </div>

     


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>